<h1>Capstone Catalog</h1>
<% @students.each do |student| %>
  <h1>Student Name: <%= student[:first_name] %> <%= student[:last_name] %></h1>
  <h2>Capstone Title: <%= student[:title] %> </h2>
  <h4>Description: <%= student[:description] %></h4>
  <h4>link: <%= student[:url] %> </h4>
  <img src="<%= student[:image] %>">
<% end %>