
<h1>Student name: <%= @student[:first_name] %> <%= @student[:last_name] %></h1>
<h2>Capstone title: <%= @student [:title] %></h2>
<h4>Description: <%= @student[:description] %></h4>
<h4>link: <%= @student[:url] %></h4>
<img src="<%= @student[:image] %>">









